[Unit]
Description=Mao service
After=network.target

[Service]
Type=forking
User=aoki
Group=aoki
WorkingDirectory=/home/aoki/mao
ExecStart=/home/aoki/mao/scripts/start.sh
ExecStop=/home/aoki/mao/scripts/stop.sh
Restart=never
RestartSec=1

[Install]
WantedBy=multi-user.target
